* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
section,
main,
footer {
  padding: 0 8vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  width: 10%;
  height: 40%;
}

.sec-1 {
  background-color: rgba(34, 14, 74, 0.888);
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-top: 6vw;
  position: relative;
}

.left-strips{
    position: absolute;
    left: 0;
    bottom: -330px;
}

.right-strips{
    position: absolute;
    width: 32%;
    height: 90%;
    right: 0;
    top: 0;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 60%;
    padding-bottom: 160px;
    padding-top: 120px;
}

.left p{
    margin-bottom: 30px;
    font-size: 16px;
}
.left button{
    background: transparent;
    color: white;
    border-color: white;
    width: 120px;
    padding: 10px 15px;
}

h1{
    font-size: 55px;
    margin-bottom: 20px;
}

h1::before{
    width: 100px;
    height: 5px;
    background-color: red;
    display: block;
    content:"";
}

.right{
    position: relative;
    width: 40%;
    padding-top: 40px;
}

.sec-1 .right img{
    width: 77%;
    display: block;
    position: absolute;
}

main{
    min-height: 500px;
    padding-top: 10vw;
}